# Android & IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Build directories
/build
/app/build
/captures
.externalNativeBuild
.cxx

# Security: Signing & keys
*.jks
*.keystore
*.pem
*.p12
google-services.json
google-services.plist
service_account.json

# Archives
*.apk
*.ap_
*.aab

# IDE configs
.vscode/
.idea/

# Others
local.properties