name: Deploy to Play Store

on:
  workflow_dispatch:
    inputs:
      track:
        description: 'The track to deploy to'
        required: true
        default: 'internal'
        type: choice
        options:
          - production
          - beta
          - alpha
          - internal

jobs:
  deploy:
    name: Deploy to Play Store
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: release-artifacts
          path: app/build/outputs/
      
      - name: Deploy to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_STORE_SERVICE_ACCOUNT_JSON }}
          packageName: com.hsb.calchub
          releaseFiles: app/build/outputs/bundle/release/*.aab
          track: ${{ github.event.inputs.track }}
          status: completed
          whatsNewDirectory: distribution/whatsnew
          mappingFile: app/build/outputs/mapping/release/mapping.txt
